@model BoardgameCollectionWebsite.Models.BoardgameArtist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoardgameArtist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardGame.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardGame.Thumbnail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoardgameArtistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
