@model IEnumerable<BoardgameCollectionWebsite.Models.BoardGame>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardgameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPlayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPlayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardgameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPlayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPlayTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocalBoardgameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocalBoardgameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocalBoardgameID })
        </td>
    </tr>
}

</table>
