@model BoardgameCollectionWebsite.Models.Designer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Designer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalDesignerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
