@model BoardgameCollectionWebsite.Models.Implementation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Implementation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImplementationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImplementationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImplementedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImplementedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalImplementationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
