@model BoardgameCollectionWebsite.Models.Expansion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expansion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpansionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpansionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpansionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpansionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalExpansionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
