@model IEnumerable<BoardgameCollectionWebsite.Models.BoardgameExpansion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardGame.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expansion.ExpansionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGame.Thumbnail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expansion.ExpansionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoardgameExpansionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoardgameExpansionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoardgameExpansionID })
        </td>
    </tr>
}

</table>
