@model BoardgameCollectionWebsite.Models.BoardgameCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoardgameCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoardGame.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardGame.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoardgameCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
