@model BoardgameCollectionWebsite.Models.BoardgamePublisher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoardgamePublisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoardGame.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardGame.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoardgamePublisherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
