@model BoardgameCollectionWebsite.Models.Mechanic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mechanic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MechanicID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MechanicID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MechanicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MechanicName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalMechanicID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
