@model IEnumerable<BoardgameCollectionWebsite.Models.Implementation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImplementationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImplementedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImplementationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImplementedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocalImplementationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocalImplementationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocalImplementationID })
        </td>
    </tr>
}

</table>
